#calosc
{
		width: 1450px;
		height: 1000px;
		background-color: green;
}
#gora
{
		width: 1450px;
		height: 200px;
		background-color: #3399ff;
}
#menu
{
		width: 12%;
		height: 700px;
		background-color: blue;
		float: left;
		z-index: 2;
		position: relative;
}
#gra
{
		width: 74%;
		height: 700px;
		background-color: #ccff66;
		float: left;	
	
}
#gra1
{
		width: 74%;
		height: 700px;
		background-color: #ccff66;
		float: left;		
	
}
#gra1madzy
{
	width: 100%;
	height: 700px;
	background-color: #ccff66;
	float: left;
}
#kwadracik
{
	width: 100%;
	height: 700px;
	background-color: rgb(155,192,234);
	transition: all 1s ease-out;
	float: left;
	display: none;
}
@keyframes lot_samolot1
{
  0% { transform:translateX(-100px) scale(1); }
  100% { transform:translateX(1090px) scale(1); }
}
@keyframes lot_samolot2
{
  0% { transform:translateX(20px) translateY(-70px) scale(1); }
  45% { transform:translateX(580px) translateY(-60px) scale(1); }
  48% { transform:translateX(585px) translateY(-40px) scale(1) rotate(10deg); }
  50% { transform:translateX(590px) translateY(-20px) scale(1) rotate(20deg); }
  52% { transform:translateX(595px) translateY(0px) scale(1) rotate(30deg); }
  54% { transform:translateX(600px) translateY(20px) scale(1) rotate(40deg); }
  56% { transform:translateX(605px) translateY(40px) scale(1) rotate(50deg); }
  100% { transform:translateX(950px) translateY(650px) scale(1) rotate(90deg); }
}
@keyframes lot_kula
{
  0% { transform: scale(0); }
  45% { transform: scale(0); }
  48% { transform: scale(1) ;}
  50% { transform: scale(1) ; }
  52% { transform: scale(1) ; }
  54% { transform: scale(1) ; }
  56% { transform: scale(1) ;}
  100% { transform: scale(1) ; }
}
@keyframes lot_bombka
{
  0%  { transform:translateX(-50px) translateY(-100px) scale(1); }
  50%  { transform:translateX(605px) translateY(-100px) scale(1); }
  51%  { transform:scale(0); }
  100% { transform:scale(0); }
}
@keyframes boom_boom
{
  0% { transform: scale(0); }
  52% { transform: scale(0); }
  55% { transform: scale(1); }
  60% { transform: scale(1.5); }
  65% { transform: scale(1); }
  70% { transform: scale(1.5); }
  75% { transform: scale(1); }
  80% { transform: scale(1.5); }
  85% { transform: scale(1); }
  90% { transform: scale(1.5); }
  95% { transform: scale(1); }
  96% { transform: scale(0); }
  100% { transform: scale(0); }
}
@keyframes bangbang
{
  0% { transform: scale(0); }
  67% { transform: scale(0); }
  70% { transform: scale(1); }
  73% { transform: scale(1.5); }
  76% { transform: scale(1); }
  79% { transform: scale(1.5); }
  82% { transform: scale(1); }
  85% { transform: scale(1.5); }
  88% { transform: scale(1); }
  91% { transform: scale(1.5); }
  94% { transform: scale(1); }
  97% { transform: scale(0); }
  100% { transform: scale(0); }
}
#samolot1
{
	width:105px;
	height:75px;
	background-image:url('anglik.png');
	animation-delay: 0s;
	animation: lot_samolot1 4.5s;
	z-index: 0;
	position: relative;
	animation-play-state: paused;
	display: none;
}

#samolot2
{
	width:105px;
	height:75px;
	 background-image:url('niemiec.png');
	animation-delay: 0s;
	animation: lot_samolot2 4.5s;
	z-index: 1;
	position: relative;
	animation-play-state: paused;
	display: none;
}

#pocisk
{
	width:18px;
	height:5px;
	background-image:url('bombka.png');
	animation-delay: 0s;
	animation: lot_bombka 4.5s;
	z-index: 2;
	position: relative;
	animation-play-state: paused;
	display: none;
}
#boom
{
	width:133px;
	height:100px;
	background-image:url('boom.png');
	animation-delay: 0s;
	animation: boom_boom 2.2s;
	z-index: 3;
	position: relative;
	margin-left: 530px;
	margin-top: -160px;
	animation-play-state: paused;
	display: none;
}
#bangbang
{
	width:133px;
	height:100px;
	background-image:url('Bangbang.png');
	animation-delay: 3s;
	animation: bangbang 4.5s;
	z-index: 3;
	position: relative;
	margin-left: 830px;
	margin-top: 400px;	
	animation-play-state:paused;
	display: none;
}
#kula
{
	width:70px;
	height:50px;
	 background-image:url('kula.png');
	animation-delay: 0s;
	animation: lot_kula 4.5s;
	z-index: 2;
	position: relative;	
	animation-play-state:paused;
	display: none;
}
#info
{
	height: 10px;
	width: 10px;
	float: left;
	font-family: Chango;
	color: gold;
	display: none;
}
#gra1czarni
{
	width: 100%;
	height: 700px;
	background-color: #ccff66;
	float: left;
	display: none;
}
#pytanka
{
	position: absolute;
	font-size: 15px;
	background-color: #66ffff;
	height: 500px;
	width: 400px;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 100px;
	display: none;
	transform: none;
	transition: 1s ease-in-out; 
}
#drzewa
{
		width: 35%;
		height: 700px;
		background-color: 00ccaa;
		float: right;
		display: none;
		
}
#mag
{
		width: 175px;
		height: 30px;
		background-color: #FFD966;
		float: left;
		margin-left: 100px;
		margin-right: 150px;
		font-size: 24px;
		text-align: center;
		font-family: calibri;
	
}
#czarni1
{
		width: 175px;
		height: 30px;
		background-color: #FFD966;
		float: left;
		margin-left: 100px;
		margin-right: 150px;
		font-size: 15px;
		text-align: center;
		font-family: calibri;
	
}
#tabla
{
	float: left;
	border: 0px;
	border-collapse: collapse;
}
#tabla td.inny_td
{ 
		height: 41px;
		width: 40px;
		text-align: center;
		border: none;
		line-height: 0px;
		background-image: url("niebo.png");
}
#tabla td 
{ 
		height: 41px;
		width: 40px;
		text-align: center;
		border: none;
		line-height: 0px; 
		background-image: url("niebo.png");
}

#pytania
{
		width: 64%;
		height: 700px;
		background-color: 00ccaa;
		float: left;
}

#pyt
{
		width: 130px;
		height: 30px;
		background-color: #FFD966;
		float: left;
		margin-left: 100px;
		margin-right: 150px;
		font-size: 15px;
		text-align: center;
		font-family: calibri;
}

#tabelka
{
		float: left;
		border: 0px;
		border-collapse: collapse;
	
}
#tabelka td
{
		height: 42px;
		width: 30px;
		text-align: center;
		border-width: 1px;  
		margin-top: 0px;
		border-bottom: 0px;
		border-right: 0px;
		margin-bottom: 0px;
		border-style: solid;
		float: left;
		background-color: #F2F2F2;
}
#tabelka td.inny_wyglad1
{
		height: 40px;
		width: 30px;
		text-align: center;
		background-color: 00ccaa;
		border: none;
}
#tabelka td.inny_wyglad2
{
		height: 40px;
		width: 30px;
		text-align: center;
		background-color: 00ccaa;
		border: none;
}
#tabelka2
{
		float:left;
		border:0px;
		border-collapse: collapse;
}

#tabelka2 th
{
		height: 39px;
		width: 120px;
		text-align: center;
		border-width: 1px;  
		border-bottom: 1px;
		border-style: solid;
		float: left;
		background-color: #e0adf5;
}
#tabelka2 td
{
		height: 87px;
		width: 120px;
		text-align: center;
		border-width: 1px; 
		border-top: 0px;
		border-style: solid;
		float: left;	
		background-color: #F2F2F2;
}
#tabelka3
{
		float: left;
		border: 0px;
		border-collapse: collapse;
}

#tabelka3 th
{
		height: 38px;
		width: 159px;
		text-align: center;
		border-width: 1px;  
		border-style: solid;
		float: left;
		background-color: #e0adf5;
		border-left: 0px;
}
#tabelka3 td
{
		height: 42px;
		width: 120px;
		text-align: center;
		border-width: 1px;  
		border-style: solid;
		border-bottom: 1px;
		float: left;	
		background-color: #F2F2F2;
		border-left: 0px;
}
#tabelka3 td.inny_wyglad 
{
		height: 41px;
		width: 36px;
		text-align: center;
		border-width: 1px;  
		border-style: solid;
		border-left: 0px;
		float: left;	
		background-color: #F7D1E1;
}

#blok
{
	width: 256px;
	height: 150px;
	background-color: 005543;
	margin-top: 50px;
	margin-left: 165px;
	margin-right: 50px;
	font-size: 24px;
	text-align: center;
	font-family: calibri;
}
#wynik0
{
	width: 252px;
	height: 50px;
	background-color: #CCCC00;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: calibri;
	border-style: solid;
	border-width: 2px;
}

#madzy
{
	width: 124px;
	height: 50px;
	background-color: #00ccff;
	float: left;
	font-size: 15px;
	text-align: center;
	font-family: calibri;
	border-style: solid;
	border-width: 2px;
}
#czarni
{
	width: 124px;
	height: 50px;
	background-color: #3300ff;
	float: left;
	font-size: 15px;
	text-align: center;
	font-family: calibri;
	border-style: solid;
	border-width: 2px;
}
#wynik1
{
	width: 124px;
	height: 40px;
	background-color: #FF5050;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: calibri;
	border-style: solid;
	border-width: 2px;
}
#wynik2
{
	width: 124px;
	height: 40px;
	background-color: #FF5050;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: calibri;
	border-style: solid;
	border-width: 2px;
}

#prawy
{
		width: 14%;
		height: 700px;
		background-color: #63ff94;
		float: left;
		z-index: 2;
		position: relative;
}
#prawy1
{
		width: 14%;
		height: 700px;
		background-color: #63ff94;
		float: left;
		z-index: 2;
		position: relative;
}
#dol
{
		width: 1450px;
		height: 100px;
		background-color: #3399ff;
		float:right;
		z-index: 2;
		position: relative;
	
}
#spotka
{
		width: 1450px;
		height: 50px;
		background-color: #3399ff;
		z-index: 2;
		position: relative;
}