#calosc
{
		width: 1450px;
		height: 1000px;
		background-color: green;
}
#gora
{
		width: 1450px;
		height: 200px;
		background-color: #3399ff;
}
#menu
{
		width: 12%;
		height: 700px;
		background-color: blue;
		float: left;
		z-index: 3;
		position: relative;
}
@keyframes anim_gra1
{
    0%   {background-image: url('tlo.jpg');}
    25%  {background-image: url('tlo1.jpg');}
    50%  {background-image: url('tlo2.jpg');}
    75%  {background-image: url('tlo1.jpg');}
	100% {background-image: url('tlo.jpg');}
}
#gra1
{
		width: 74%;
		height: 700px;
		background-image: #ccff66;
		float: left;
		z-index: 1;
	    animation-name: anim_gra1;
        animation-iteration-count: 2000;
        animation-duration: 12s;
}
#powrot
{
	margin-left: 200px;
	margin-top: 150px;
	width: 200px;
	height: 50px;	
}
#menus
{
	width: 400px;
	height: 600px;
	background-color: #0045A1;
	float: left;
	margin-left: 300px;
	margin-top: 50px;
	z-index: 3;
}
#nowagra
{
	width: 350px;
	height: 100px;
	background-color: #A8A8A8;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	z-index: 3;
}

#tworca
{
	width: 350px;
	height: 100px;
	background-color: #A8A8A8;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	z-index: 3;
}
#info
{
	width: 350px;
	height: 100px;
	background-color: #A8A8A8;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	z-index: 3;
}
#prawy1
{
		width: 14%;
		height: 700px;
		background-color: #63ff94;
		float: left;
		z-index: 3;
		position: relative;
}
#dol
{
		width: 1450px;
		height: 100px;
		background-color: #3399ff;
		float:right;
		z-index: 3;
		position: relative;
}
#spotka
{
		width: 1450px;
		height: 50px;
		background-color: #3399ff;
		z-index: 3;
		position: relative;
}
